/* 
    Description: This css module applies to Dashboard component.
    Last updated: 6/23/2026
*/

.mainContainer {
    display: flex;
    flex: 1;
}

.subContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: relative;
}

.appTitle {
    font-size: 45px;
    font-family: "Rampart One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #004A94;
    text-align: center;
    margin-bottom: 2rem;
}

/* css for toolbar below */

.toolbar {
    display: flex;
    gap: 15px;
    padding: 1rem;
    border-radius: 5px;
    background-color: #D9EDF8;
    margin-bottom: 1.5rem;
}

.toolOption {
    position: relative;
    display: inline-block;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    outline-offset: 4px;
}

.toolOption .shadow {
    position: absolute;
    inset: 0;
    border-radius: 14px;
    background: rgba(0, 0, 0, 0.2);
    transform: translateY(6px);
}

.toolOption .edge {
    position: absolute;
    inset: 0;
    border-radius: 14px;
    background-color: #296b8e;
}

.toolOption .front {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 14px;
    transform: translateY(-6px);
    transition: transform 0.1s ease;
    font-size: 22px;
    color: white;
    background-color: #afd6eb;
}

.toolOption:hover .front {
    transform: translateY(-8px);
}

.toolOption:active .front {
    transform: translateY(-2px);
}

.toolOption:active .shadow {
    transform: translateY(2px);
}

/* css for decks below */

.deckList {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.deck {
    background-color: #D9EDF8;
    border: 2px solid #D9EDF8;
    box-shadow: 10px 10px 5px rgba(18, 31, 50, 0.234);
    width: 350px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    font-family: "Imprima", sans-serif;
    color: #004A94;
    cursor: pointer;
    transition: all 0.2s ease;
}

.deck:hover {
    background-color: #B3DEF4;
    border: 2px solid #B3DEF4;
    transform: translateY(5px);
}

/* css for overlay below */

.overlay {
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    pointer-events: auto;
    width: 310px;
    padding: 1.5rem;
    background-color: white;
    border: 2px solid #004A94;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.exitBtn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
    font-size: 25px;
    color: #004A94;
}

/* css for create and rename forms below */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form > div  {
    margin-bottom: 1.3rem;
}

.formText {
    font-size: 20px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #004A94;
    margin-bottom: 0.2rem;
}

.form > div input {
    border: 2px solid #004A94;
    border-radius: 5px;
    font-size: 18px;
    padding: 0.5rem;
    min-width: 250px;
}

.form > div input:focus {
    outline: none;
}

.fancyBtn {
    position: relative;
    display: inline-block;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    outline-offset: 4px;
    margin-top: 0.5rem;
}

.darkBlueBtnShadow {
    position: absolute;
    inset: 0;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    transform: translateY(6px);
}

.darkBlueBtnEdge {
    position: absolute;
    inset: 0;
    border-radius: 5px;
    background-color: #01162b;
}

.darkBlueBtnFront {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 160px;
    min-height: 50px;
    border-radius: 5px;
    transform: translateY(-6px);
    transition: transform 0.1s ease;
    font-size: 20px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #004A94;
}

.fancyBtn:hover .darkBlueBtnFront {
    transform: translateY(-8px);
}

.fancyBtn:active .darkBlueBtnFront {
    transform: translateY(-2px);
}

.fancyBtn:active .darkBlueBtnShadow {
    transform: translateY(2px);
}

/* background animation css below */

.floatingBackground {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.floatingShapes {
    position: absolute;
    bottom: -80px;
}

.errorMessage {
    background-color: #D9EDF8;
    border-radius: 5px;
    padding: 1rem;
    font-size: 18px;
    font-family: "Imprima", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #004A94;
    margin-bottom: 1rem;
}